<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<!-- <script type="text/javascript">
			$(document).ready(function() {
			    
			    function birdLeft() {
			    //     $("#b").animate({left: "-=800"}, 2000, "swing", birdRight);
			    // }
			    // function birdRight() {
			    //     $("#b").animate({left: "+=800"}, 2000, "swing", birdLeft);
			    // }
			    
			    birdRight();
			});
		</script> -->
		<script type="text/javascript" src="js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="<%= request.base_url%>/css/main.css">
		<link rel="icon" type="img/png" href="<%= request.base_url%>/img/logo.png">
		<script type="text/javascript" src="<%= request.base_url%>/js/main.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body id="body">
	<header id="head">
		<h2 id="welcomename">Welcome, <%= @user.fname %>!</h2>
		<h2 id="name"><mark>squawker</mark></h2>
		<div class="logo">
			<img src="<%= request.base_url%>/images/bird2.png">
		</div>		
		<div class="headbuttons">
		</div>
		<div class="headbuttons">		
		<div class="headbuttons">
			<% if current_user %>
				<form action="<%= request.base_url%>/sign_out" method="POST">
					<input class="button" type="submit" value="Sign Out">
				</form>
				<a href="<%= request.base_url%>/myAccount"><input class="button" type="button" value="Settings"></a>
				<a href="<%= request.base_url%>/profile"><input class="button" type="button" value="Profile Page"></a>
				<a href="<%= request.base_url%>/all_users"><input class="button" type="button" value="All Users"></a>
			<% else %>
				<a href="<%= request.base_url%>/sign_in"><input class="button" type="button" value="Sign In"></a>
				<a href="<%= request.base_url%>/create_account"><input class="button" type="button" value="Create Account"></a>
			<% end %>
		</div>
	</header>
    <img id="b" src="<%= request.base_url%>/images/bird3.png" style="position:absolute; top:450px"></img>
	</body>
			<%= yield %>
	</body>
</html>
